@tailwind base;
@tailwind components;
@tailwind utilities;

.conversation-item .avatar.online:before,
.conversation-item .avatar.offline:before {
    width: 7px;
    height: 7px;
    top: 1%;
    right: 1%;
}
